.footer {
	background-color: #ebebeb;
}

.footer-subscribe {
	background-color: #1cb88b;
}

.subscribe {
	max-width: 570px;
	margin: 0 auto;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.subscribe input {
	outline: none;
	border: none;
}

.subscribe input:nth-child(1) {
	height: 40px;
	font-size: 36px;
	background-color: #1cb88b;
	vertical-align: middle;
	caret-color: #fff;
	color: #fff;
}

.subscribe input:nth-child(1)::-webkit-input-placeholder {
	font-size: 36px;
	line-height: 41px;
	font-family: 'Proxima Nova Th';
	font-weight: 300;
	color: #fff;
}

.subscribe input:nth-child(1)::-moz-placeholder {
	font-size: 36px;
	line-height: 41px;
	font-family: 'Proxima Nova Th';
	font-weight: 300;
	color: #fff;
}

.subscribe input:nth-child(1):-ms-input-placeholder {
	font-size: 36px;
	line-height: 41px;
	font-family: 'Proxima Nova Th';
	font-weight: 300;
	color: #fff;
}

.subscribe input:nth-child(1)::-ms-input-placeholder {
	font-size: 36px;
	line-height: 41px;
	font-family: 'Proxima Nova Th';
	font-weight: 300;
	color: #fff;
}

.subscribe input:nth-child(1)::placeholder {
	font-size: 36px;
	line-height: 41px;
	font-family: 'Proxima Nova Th';
	font-weight: 300;
	color: #fff;
}

.subscribe input:nth-child(1):focus::-webkit-input-placeholder {
	font-size: 0;
	line-height: 41px;
	color: #fff;
}

.subscribe input:nth-child(1):focus::-moz-placeholder {
	font-size: 0;
	line-height: 41px;
	color: #fff;
}

.subscribe input:nth-child(1):focus:-ms-input-placeholder {
	font-size: 0;
	line-height: 41px;
	color: #fff;
}

.subscribe input:nth-child(1):focus::-ms-input-placeholder {
	font-size: 0;
	line-height: 41px;
	color: #fff;
}

.subscribe input:nth-child(1):focus::placeholder {
	font-size: 0;
	line-height: 41px;
	color: #fff;
}

.subscribe input:nth-child(2) {
	font-family: 'Proxima Nova Rg', sans-serif;
	padding: 6px 10px 7px;
	font-size: 16px;
	color: #1cb88b;
	background-color: #fff;
	border-radius: 10px;
}

.subscribe input:nth-child(2):hover {
	background-color: #eee;
}

.subscribe input:nth-child(2):active {
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
}

.footer-logos-wrap {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 27.5px 0;
}

.footer-logos {
	max-width: 970px;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 15px;
}

.footer-logos [class^="logo-"] {
	width: 170px;
	height: 95px;
	background-color: #a6a6a6;
	background-image: url("../../img/spritesheet.png");
	background-position: -10px 23px;
}

.footer-logos .logo-5,
.footer-logos .logo-2 {
	background-position: 0 -75px;
}

.footer-logos .logo-3 {
	background-position: 5px -190px;
}

.footer-wrap {
	padding: 96px 15px 138px;
}

.footer-wrap .title {
	margin-bottom: 46px;
}

.footer-wrap .title::after {
	bottom: -13px;
	background-color: #363636;
}

.footer-contancts a,
.footer-contancts {
	font-size: 16px;
	line-height: 30px;
	color: #898989;
}

.footer-contancts a:hover {
	text-decoration: underline;
	color: #1cb88b;
}

.footer-contancts a:active {
	color: #898989;
}

.footer-social {
	width: 255px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 17px 0 45px;
}

.footer-social .social-btn i {
	font-size: 16px;
	line-height: 23px;
	color: #1cb88b;
}

.footer-social .social-btn:hover i {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.footer-social .social-btn:active i {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.footer-wrap .send {
	position: relative;
	max-width: 770px;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.footer-wrap .send input {
	width: 100%;
	outline: none;
	border: none;
	background-color: transparent;
	text-indent: 40px;
	vertical-align: middle;
}
.footer-wrap .send textarea::-webkit-input-placeholder,
.footer-wrap .send input::-webkit-input-placeholder {
	font-size: 16px;
	text-indent: 38px;
	font-family: 'Proxima Nova Rg', sans-serif;
	font-weight: 700;
	color: #363636;
	text-transform: uppercase;
}
.footer-wrap .send textarea::-moz-placeholder,
.footer-wrap .send input::-moz-placeholder {
	font-size: 16px;
	text-indent: 38px;
	font-family: 'Proxima Nova Rg', sans-serif;
	font-weight: 700;
	color: #363636;
	text-transform: uppercase;
}
.footer-wrap .send textarea:-ms-input-placeholder,
.footer-wrap .send input:-ms-input-placeholder {
	font-size: 16px;
	text-indent: 38px;
	font-family: 'Proxima Nova Rg', sans-serif;
	font-weight: 700;
	color: #363636;
	text-transform: uppercase;
}
.footer-wrap .send textarea::-ms-input-placeholder,
.footer-wrap .send input::-ms-input-placeholder {
	font-size: 16px;
	text-indent: 38px;
	font-family: 'Proxima Nova Rg', sans-serif;
	font-weight: 700;
	color: #363636;
	text-transform: uppercase;
}
.footer-wrap .send textarea::placeholder,
.footer-wrap .send input::placeholder {
	font-size: 16px;
	text-indent: 38px;
	font-family: 'Proxima Nova Rg', sans-serif;
	font-weight: 700;
	color: #363636;
	text-transform: uppercase;
}

.footer-wrap .send textarea:focus::-webkit-input-placeholder,
.footer-wrap .send input:focus::-webkit-input-placeholder {
	font-size: 0;
}

.footer-wrap .send textarea:focus::-moz-placeholder,
.footer-wrap .send input:focus::-moz-placeholder {
	font-size: 0;
}

.footer-wrap .send textarea:focus:-ms-input-placeholder,
.footer-wrap .send input:focus:-ms-input-placeholder {
	font-size: 0;
}

.footer-wrap .send textarea:focus::-ms-input-placeholder,
.footer-wrap .send input:focus::-ms-input-placeholder {
	font-size: 0;
}

.footer-wrap .send textarea:focus::placeholder,
.footer-wrap .send input:focus::placeholder {
	font-size: 0;
}

.footer-wrap .send .email,
.footer-wrap .send .name {
	position: relative;
	flex-basis: 48%;
	height: 50px;
	line-height: 50px;
	box-shadow: inset 0 0 0 2px #363636;
}

.footer-wrap .send .message i,
.footer-wrap .send .email i,
.footer-wrap .send .name i {
	position: absolute;
	top: 50%;
	left: 19px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 16px;
}

.footer-wrap .send .message i {
	top: 25px;
}

.footer-wrap .send .message {
	position: relative;
	height: 80px;
	box-shadow: inset 0 0 0 2px #363636;
	flex-basis: 770px;
	margin-top: 30px;
}

.footer-wrap .send textarea {
	width: 100%;
	height: 100%;
	padding-top: 15px;
	text-indent: 40px;
	background-color: transparent;
	outline: none;
	border: none;
	resize: none;
}

.footer-wrap .send label {
	position: absolute;
	bottom: 0;
	right: -400px;
	display: block;
	width: 370px;
	height: 80px;
	background-color: #fafafa;
	border-radius: 10px;
}

.footer-wrap .send label:hover {
	background-color: #fff;
}

.footer-wrap .send label:active {
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
}

.footer-wrap .send label p,
.footer-wrap .send label i {
	position: absolute;
	top: 50%;
	left: 141px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 36px;
	line-height: 41px;
	color: #1cb88b;
}

.footer-wrap .send label p {
	font-size: 16px;
	font-weight: 700;
	left: 184px;
}

.copyright {
	text-align: center;
	font-family: 'Proxima Nova Th';
	background-color: #252525;
	color: #555555;
	padding: 50px 0 10px;
}

.copyright p:nth-child(1) {
	text-transform: uppercase;
	font-family: 'Proxima Nova Rg', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #fff;
}

.copyright p:nth-child(2) {
	margin-top: 13px;
}

.copyright p:nth-child(3) {
	margin-bottom: 10px;
}
.copyright i {
	font-size: 24px;
	color: #1cb88b;
}

@media (max-width: 1200px) {
	.footer-wrap .send {
		max-width: 100%;
	}
	.footer-wrap .send .message {
		flex-basis: 100%;
	}
	.footer-wrap .send label {
		width: 100%;
		bottom: -110px;
		right: auto;
	}
	.footer-wrap .send label i {
		display: none;
	}

	.footer-wrap .send label p {
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
	}
}

@media (max-width: 940px) {
	.footer-logos-wrap {
		padding: 27.5px 15px 7.5px 15px;
	}
	.footer-logos {
		justify-content: center;
	}
	.footer-logos [class^="logo-"] {
		margin: 0 0 20px 20px;
	}
}

@media (max-width: 768px) {
	.footer-wrap {
		padding-top: 60px;
	}
	.footer-wrap .title {
		text-align: center;
		max-width: 500px;
		margin: 30px auto 60px;
	}
	.footer-wrap .title::after {
		width: 100%;
		bottom: -14px;
		background-color: #363636;
	}
}

@media (max-width: 580px) {
	.footer-wrap .send .email,
	.footer-wrap .send .name {
		position: relative;
		flex-basis: 100%;
		height: 50px;
		line-height: 50px;
		box-shadow: inset 0 0 0 2px #363636;
	}
	.footer-wrap .send .email {
		margin-bottom: 30px;
	}
	.subscribe {
		max-width: 100%;
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.subscribe input:nth-child(1) {
		max-width: 330px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.subscribe input:nth-child(1)::-webkit-input-placeholder {
		font-size: 32px;
		line-height: 41px;
		font-family: 'Proxima Nova Th';
		font-weight: 300;
		color: #fff;
	}
	.subscribe input:nth-child(1)::-moz-placeholder {
		font-size: 32px;
		line-height: 41px;
		font-family: 'Proxima Nova Th';
		font-weight: 300;
		color: #fff;
	}
	.subscribe input:nth-child(1):-ms-input-placeholder {
		font-size: 32px;
		line-height: 41px;
		font-family: 'Proxima Nova Th';
		font-weight: 300;
		color: #fff;
	}
	.subscribe input:nth-child(1)::-ms-input-placeholder {
		font-size: 32px;
		line-height: 41px;
		font-family: 'Proxima Nova Th';
		font-weight: 300;
		color: #fff;
	}
	.subscribe input:nth-child(1)::placeholder {
		font-size: 32px;
		line-height: 41px;
		font-family: 'Proxima Nova Th';
		font-weight: 300;
		color: #fff;
	}
}

@media (max-width: 410px) {
	.footer-wrap .title {
		font-size: 40px;
		line-height: 50px;
	}
}
