.header-top {
	background-color: #000;
}

.header-top-wrap {
	position: relative;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding: 22px 15px;
}

.header-top-wrap .logo {
	text-transform: uppercase;
	font-weight: bold;
	flex-basis: 201px;
	font-size: 30px;
	line-height: 36px;
	color: #fff;
}

.menu-btn {
	position: absolute;
	right: 115px;
	width: 30px;
	height: 20px;
	display: none;
}

.menu-btn span {
	position: absolute;
	display: block;
	width: 30px;
	height: 4px;
	background: #1cb88b;
	border-radius: 2px;
}

.menu-btn span:nth-child(2) {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.menu-btn span:nth-child(3) {
	bottom: 0;
}

.header-nav {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-basis: 415px;
	margin-right: auto;
}

.header-nav a {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.header-nav a:hover {
	color: #1cb88b;
}

.header-nav a:hover::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	bottom: -5px;
	background-color: #1cb88b;
}

.header-nav a:active {
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
	color: #eee;
}

.header-nav a:active::before {
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
	background-color: #eee;
}

.header-btn {
	margin-left: 30px;
}

.header-middle {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.header-video-text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.header-video-btn {
	position: absolute;
	top: 50%;
	left: -200px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: opacity 0.2s ease;
	opacity: .3;
}

.header-video-btn:hover {
	opacity: 1;
}

.header-video-btn i {
	font-size: 150px;
	color: #fff;
}

.header-middle iframe {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition-property: opacity visibility;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.header-middle iframe:focus {
	opacity: 1;
	visibility: visible;
}

.header-middle p {
	color: #fff;
	white-space: nowrap;
}

.header-middle p:nth-child(2) {
	font-family: 'Proxima Nova Th', sans-serif;
	font-weight: 100;
	font-size: 60px;
	line-height: 72px;
}

.header-middle p:nth-child(3) {
	font-size: 16px;
	color: #1cb88b;
	text-indent: 4px;
}

@media (max-width: 1200px) {
	.header-video-btn {
		left: -120px;
	}
	.header-video-btn i {
		font-size: 100px;
	}
	.header-middle p:nth-child(2) {
		font-size: 45px;
		line-height: 50px;
	}
}

@media (max-width: 855px) {
	.header-video-btn {
		left: 0px;
	}
	.header-video-btn i {
		font-size: 60px;
	}
	.header-middle p:nth-child(2) {
		font-size: 45px;
		line-height: 50px;
		text-indent: 70px;
	}
	.header-middle p:nth-child(3) {
		text-indent: 74px;
	}
}

@media (max-width: 660px) {
	.header-nav {
		position: absolute;
		top: 80px;
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		flex-basis: auto;
		width: 100px;
		background-color: #000;
		border-radius: 0 0 10px 10px;
		display: none;
		z-index: 10;
	}
	.menu-btn {
		display: block;
	}
	.header-nav a {
		display: block;
		width: 100%;
		padding: 12px 0;
		text-indent: 20px;
	}
	.header-nav a:hover {
		background-color: #1cb88b;
		color: #000;
	}
	.header-nav a:hover::before {
		display: none;
	}

	.header-nav a:active {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		color: #eee;
	}
	.header-nav a:nth-child(5) {
		border-radius: 0 0 10px 10px;
	}
	.header-middle p:nth-child(2) {
		font-size: 22px;
		line-height: 30px;
		text-indent: 0;
	}
	.header-middle p:nth-child(3) {
		line-height: 20px;
		text-indent: 0;
		text-align: center;
	}
	.header-video-btn {
		top: -60px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
}
